body{
    border: 1px dotted red;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 12px;
    text-align: justify;
}

li{
    font-size: 12px;
}

.left{
    border: 1px dotted red;
    max-width: 200px;
}

.right{
    border: 1px dotted red;
}

img{
    width: 150px;
}

.personal-info{
    display: flex;
}